// ----- colors ------
$white: #fff;
$pink-food: #ff00a4;
$gray-text: #404040;
$orange-rate: #ff7800;
$orange-light-safety: rgba(255, 120, 0, 0.08);
$green-primary: #22a958;
$star-color-40: #5ba839;
$light-start-color-40: rgba(91, 168, 41, 0.08);
$start-color-30: #cdd614;
$light-start-color-30: rgba(205, 214, 20, 0.08); 
$star-color-20: #ff7800;
$light-star-color-20: rgba(255, 120, 0, 0.08);