@import 'variables';
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homeBg {
  background-image: url('/images/home-bg.jpg');
  background-size: cover;
  min-height: 100vh;
}

.logoWrap {
  width: 130px;
  margin-top: 150px;
  img {
    display: block;
    width: 100%;
  }
}

.goToVendorBtn {
  display: inline-block;
  margin-bottom: 50px;
  width: 180px;
  height: 40px;
  color: $white;
  background-color: $pink-food;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}


// @media (max-width: 600px) {
//   .grid {
//     width: 100%;
//     flex-direction: column;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
